<!-- 
  @Author: Your name
  @Date:   2022-06-08 09:58:43
  @Last Modified by:   Your name
  @Last Modified time: 2022-06-08 13:19:33
-->
{%extends 'base.html'%} {%block body%}
<style>
    #imgabout {
        width: 500%;
        height: 500px;
        float: left;
    }
    
    .about {
        margin-top: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .aboutimg {
        margin-top: 10%;
    }
</style>
<div class="container">
    <div class="row mb-2">

        <div class="col-6">
            <div class="about">
                <h2 style="color: red;">About Us</h2>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;A library is a collection of materials, books or media that are accessible for use and not just for display purposes. A library provides physical (hard copies) or digital access (soft copies) materials, and may
                    be a physical location or a virtual space, or both.
                    <br>&nbsp;A library's collection can include printed materials and other physical resources in many formats such as DVD, CD and cassette as well as access to information, music or other content held on bibliographic databases.
                    <br>&nbsp;&nbsp; A library, which may vary widely in size, may be organized for use and maintained by a public body such as a government; an institution such as a school or museum; a corporation; or a private individual
                    <br> &nbsp;&nbsp;In addition to providing materials, libraries also provide the services of librarians who are trained and experts at finding, selecting, circulating and organizing information and at interpreting information needs,
                    navigating and analyzing very large amounts of information with a variety of resources.
                    <br>
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;"Libraries store the energy that fuels the imagination. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They open up windows to
                    the world and inspire us to explore and achieve, and contribute to improving our quality of life."


                </p>

            </div>
        </div>
        <div class="col-6">
            <div class="aboutimg">
                <img src="../static/img/img 4.jpg" width="700" height="500">
            </div>
        </div>
    </div>
</div>

{%endblock%}