<!-- 
  @Author: Your name
  @Date:   2022-06-08 22:51:09
  @Last Modified by:   Your name
  @Last Modified time: 2022-06-08 22:51:18
-->
{%extends 'base.html'%} {%block body%}
<style>
    .aligncenter {
        text-align: center;
    }
</style>
<div class="isi">

    <div class="inner">

        {%if user.is_authenticated%} {%endif%}
        <h2 style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"A Room Without
            Books Is Like A Body Without A Soul ..!"
        </h2>
    </div>
</div>


<div class="aligncenter">
    <img src="../static/img/img2.webp " width="50% " height="10% ">
</div>
</div>


{%endblock%}